<div class="card">
    <div class="card-body d-flex align-items-center">
        <img [src]="pokemon.imageUrl" class="pokemon-image" [alt]="pokemon.name" />
        <h5 class="card-title ml-3">{{ pokemon.name }}</h5>
        <div class="flex-grow-1"></div>
        <!-- <span class="star-icon" (click)="toggleFavorite.emit(pokemon)"></span> -->
    </div>
    <div class="card-body bg-light rounded-bottom">
        <p class="card-text mb-0" [title]="">Comentários!!!</p>
        <div class="d-flex justify-content-between align-items-center mt-2">
            <div class="comment-buttons">
                <button class="btn btn-sm btn-warning mr-2" (click)="addComment.emit(pokemon)">
                    Adicionar comentário
                </button>
                <button class="btn btn-sm btn-danger" (click)="deleteComment.emit(pokemon)">
                    Excluir comentário
                </button>
            </div>
        </div>
    </div>
</div>